@font-face {
    font-display: swap;
    font-family: 'RostelecomBasis';
    src: url('../assets/fonts/RostelecomBasis-Light.woff') format('woff'), url('../assets/fonts/RostelecomBasis-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'RostelecomBasis';
    src: url('../assets/fonts/RostelecomBasis-Regular.woff') format('woff'), url('../assets/fonts/RostelecomBasis-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'RostelecomBasis';
    src: url('../assets/fonts/RostelecomBasis-Medium.woff') format('woff'), url('../assets/fonts/RostelecomBasis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html {
    font-family: RostelecomBasis, 'sans-serif';
}