@import "../../styles/variables";

.code-description {
  line-height: 24px;
  font-weight: 400;
  color: rgba($regularText, .7);
  font-size: 18px;

  span {
    font-weight: 500;
    color: rgba($regularText, .8);
  }
}